html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.wrapper .arrow {
  position: absolute;
  top: 298px;
  z-index: 10;
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  border: 1px solid #f9f9f9;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;
}

.wrapper .arrow img {
  width: 15px;
  height: 15px;
}

.wrapper .arrow.left {
  left: 0;
  transform: rotate(180deg);
}

.wrapper .arrow.right {
  right: 0;
}

.content {
  display: flex;
  align-items: center;
  grid-gap: 40px;
  position: absolute;
}

.content::-webkit-scrollbar {
  display: none;
}

.content .box {
  min-width: 931px;
  height: 646px;
}

.content .box .image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
